<h1><%= @section.name %></h1>
<h2><%= "Shelfs In This Section" %></h2>

<ol>
<% Shelf.all.each do |shelf|%>
<%if @section.id == shelf.section_id%>
    <li><%=link_to shelf.name, shelf_path(shelf) %></li>
<%end%>
<%end%>
</ol>

<li><%= link_to "+ Add New Shelf", new_shelf_path(section_id: @section.id) %></li>
<%= link_to 'Edit', edit_section_path(@section) %>
<%= link_to 'Back', sections_path %>
<br /><br />
<form method="POST" action="<%= section_path(id: @section.id)  %>">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input name="_method" value="DELETE" type="hidden">
    <input type="submit" value="Delete" />
</form>
