<div style="width: 40vw;">
<h1>Edit Book</h1>
<form class="form-horizontal" method="POST" action="<%= book_path  %>">
  <input name="authenticity_token" value="<%= form_authenticity_token%>"  type="hidden" >
  <input name="_method" value="PUT"  type="hidden" >

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" name="book[name]" value="<%= @book.name %>"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
     <input class="form-control" name="book[author]" value="<%= @book.author %>"/>
     </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Publication Year</label>
    <div class="col-sm-10">
     <input class="form-control" type="number" name="book[publication_year]" value="<%= @book.publication_year %>"/>
    </div>
  </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Section</label> 
    <div class="col-sm-10">
      <select class="form-control" id="sectionId">
      <option >Select Section</option>
          <% @current_section_id = Shelf.find(@book.shelf_id)[ :section_id] %>

          <% Section.all.each do |section| %>
            <option value="<%= section.id %>" <%= 'selected' if section.id == @current_section_id %>><%= section.name %></option>
          <% end %>
      </select> 
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Shelf</label> 
    <div class="col-sm-10">
      <select class="form-control" name="book[shelf_id]"  id="shelfId">
      <% Shelf.where(id: @book.shelf_id).each do |shelf| %>
      <option value="<%= shelf.id %>"><%= shelf.name %></option>
      <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Update Book</button>
      </div>
  </div>

</form>
</div>

<script>
  $(document).ready(function() {
    $('#sectionId').change(function() {
      var sectionId = $(this).val();

      $.ajax({
        url: `http://127.0.0.1:3000/api/shelfs?section_id=${sectionId}`, 
        method: 'GET',
        dataType: 'json',
        success: function(response) {
          var shelves = response;
          var shelfSelect = $('#shelfId');

          shelfSelect.empty();

          $.each(shelves, function(index, shelf) {
            shelfSelect.append($('<option></option>').val(shelf.id).text(shelf.name));
          });
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });
  });
</script>




