<div class="panel-group" style="width: 50vw; margin: auto">
    <h2>Book Information</h2>
    <div class="panel panel-info">
      <div class="panel-heading">Book Name</div>
      <div class="panel-body"><%= @book.name %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Author</div>
      <div class="panel-body"><%= @book.author %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Publicatino Year</div>
      <div class="panel-body"><%= @book.publication_year %></div>
    </div>
    <br /><br />
    <form method="POST" action="<%= book_path(id: @book.id)  %>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="_method" value="DELETE" type="hidden">
         <div class="input-group-btn">
         <button class="btn btn-danger" type="submit">Delete Book</button>
        </div>
    </form>
    <div style="margin: 2vh 0vw">
     <button class="btn btn-warning" onclick="location.href='<%= edit_book_path(@book) %>'">Edit Book</button>
    <div>
</div>

