<% if member_signed_in? %>
    <li> <%= link_to "Logged In As #{current_member.email}", member_path(current_member), class: 'nav-link' %> </li>
    <li style="margin: 10px 0px"><form method="POST" action="<%= destroy_member_session_path  %>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="_method" value="DELETE" type="hidden">
        <div class="input-group-btn">
        <button class="btn btn-danger" type="submit">Logg Out</button>
        </div>
    </form></li>
<% else %>
    <li> <%= link_to 'Sign Up', new_member_registration_path, class: 'nav-link'  %> </li>
    <li> <%= link_to 'Login', new_member_session_path, class: 'nav-link'  %> </li>
<% end %>