<h1>New Member</h1>

<%= form_for @member, url: members_path do |form| %>
  <%= form.label :firstName %>
  <%= form.text_field :firstName %>
  <%= form.label :lastName %>
  <%= form.text_field :lastName %>
  <%= form.label :mobileNumber %>
  <%= form.text_field :mobileNumber %>
  <%= form.label :address %>
  <%= form.text_field :address %>
  <%= form.label :expiryDate %>
  <%= form.text_field :expiryDate %>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', members_path %>


