<div class="panel-group" style="width: 50vw; margin: auto">
    <h2>Member Information</h2>
    <% if flash[:notice].present? %>
      <div style="color: red" class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="panel panel-info">
      <div class="panel-heading">First Name</div>
      <div class="panel-body"><%= @member.firstName %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Last Name</div>
      <div class="panel-body"><%= @member.lastName %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Address</div>
      <div class="panel-body"><%= @member.address %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Mobile Number</div>
      <div class="panel-body"><%= @member.mobileNumber %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Expiry Date And Status</div>
      <div class="panel-body">
      <% if @member.expiryDate.present? && @member.expiryDate < Date.today %>
        <p style="color: red"><%= @member.expiryDate.to_s + " (Invalid)" %></p>
      <% else %>
        <p style="color: green"><%= @member.expiryDate.to_s + " (Valid)" %></p>
      <% end %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Username</div>
      <div class="panel-body"><%= @member.username %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Password</div>
      <div class="panel-body"><%= @member.password_digest %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Role</div>
      <div class="panel-body"><%= @member.role %></div>
    </div>

    <% if current_member.role == "admin" %>
      <br /><br />
      <form method="POST" action="<%= member_path(id: @member.id)  %>">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="DELETE" type="hidden">
          <div class="input-group-btn">
          <button class="btn btn-danger" type="submit">Delete Member</button>
          </div>
      </form>
      <div style="margin: 2vh 0vw">
      <button class="btn btn-warning" onclick="location.href='<%= edit_member_path(@member) %>'">Edit Member</button>
      <div>
    <% end %>
</div>
