<div class="panel-group" style="width: 50vw; margin: auto">
    <h2>Member Information</h2>
    <div class="panel panel-info">
      <div class="panel-heading">First Name</div>
      <div class="panel-body"><%= @member.firstName %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Last Name</div>
      <div class="panel-body"><%= @member.lastName %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Address</div>
      <div class="panel-body"><%= @member.address %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Mobile Number</div>
      <div class="panel-body"><%= @member.mobileNumber %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Expiry Date And Status</div>
      <div class="panel-body">
      <% if @member.expiryDate.present? && @member.expiryDate < Date.today %>
        <p style="color: red"><%= @member.expiryDate.to_s + " (Invalid)" %></p>
      <% else %>
        <p style="color: green"><%= @member.expiryDate.to_s + " (Valid)" %></p>
      <% end %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Role</div>
      <div class="panel-body"><%= @member.role %></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Email</div>
      <div class="panel-body"><%= @member.email %></div>
    </div>
    <% if can? :manage, Member%>
    <br /><br />
    <div style="width: 150px;">
    <button class="btn btn-warning" onclick="location.href='<%= edit_member_path(@member) %>'">Edit Member</button>
    <br /><br />
    <button class="btn btn-warning" onclick="location.href='<%= edit_member_registration_path %>'">Update Password</button>
    <div>
    <% end%>

</div>
